.bg-gradient-siujian {
	background-color: #224abe;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #1cc88a), to(#13855c));
	background-image: linear-gradient(180deg, #224abe 10%, #36b9cc 100%);
	background-size: cover;
}

.my-custom-scrollbar {
	position: relative;
	height: 200px;
	overflow: auto;
}

.table-wrapper-scroll-y {
	display: block;
}

.tombol {
	opacity: 0;
	transition: 0.8s;
	transform: translate(50px, 0);
}

.hilang {
	opacity: 1;
	transition: 0.8s;
}

.box {
	opacity: 0;
	transition: 1s;
	transform: translate(0, 50px);
}

.box2 {
	opacity: 0;
	transition: 1.2s;
	transform: translate(50px, 50px);
}

.box2.bMuncul,
.box.bMuncul {
	opacity: 1;
	transform: translate(0, 0);
}

.tombol.pMuncul {
	opacity: 1;
	transform: translate(0, 0);
}

.dftr {
	opacity: 0;
	transform: translate(0, -40px);
	transition: 1.5s;
}

.dftr.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.bClip {
	overflow: hidden;
	position: relative;
	height: 360px;
	z-index: 0;
}

.tClip {
	z-index: -3;
}

.clip {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 430px;
	font-size: 300px;
	z-index: -2;
}