.clr-white{
    color: white
}

.bg-blue{
    background-color:#4e73df;
}

.close{
    font-size: 1.8rem;
}

.close:hover{
    color: white;
}

.modal-body .card .card-body textarea{
    border-radius: 10px;
}

.clr-black{
    color: black
}
