body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #224abe 10%, #36b9cc 100%);
}

.row{
    width: 100%;
    margin: 0 auto;
}

.bg-login-image{
    /* Link to your background image using in the property below! */
    background: scroll center url('https://images.unsplash.com/photo-1494145904049-0dca59b4bbad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-size: cover;
  }

  .div-title{
      color: black;
      font-size: 2rem;
  }

  .div-title .sub-title{
      font-size: 1rem;
      color: #bdc3c7;
  }

.forget{
    font-size: .8rem;
    color: #34495e
}

.forget:hover{
    color: #34495e;
    opacity: 0.8;
}

.btn-primary{
    background-color: #ffa801;
    border-color: #ffa801;
}

.btn-primary:hover{
    background-color: #ffa801;
    border-color: #ffa801;
    opacity: 0.8;
    transition: 0.5s;
}


